@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500&family=Poppins:wght@200&display=swap');


/* PADRONIZAÇÃO DE CORPO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #161616;
}
:root {
    --margem_divisao_paginas: 15vh;
    --branco: #ffffff;
    --preto: #000000;
    --vermelho_arandu: #DF4041;
    /* #D80C0F */
    --amarelo_arandu: #FACF32;
    --azul_arandu: #007bff;
    --verde_arandu: #369448;
    --tamanho_fonte_extra_grande: 3em;
    --tamanho_fonte_titulo: 2.5em;
    --tamanho_fonte_botao: 1.5em;
    --tamanho_fonte_subtitulo: 1em;
    --familia_fonte_alternativa: 'Inter', sans-serif;
    --familia_fonte_titulo: 'Bebas Neue', sans-serif;
    --familia_fonte_subtitulo: 'Poppins', sans-serif;
    --cor_fonte_titulo: #ffffff;
    --cor_fonte_subtitulo: #ffffff;
    --tamanho_paragrafo_maior: 700px;
    --tamanho_paragrafo_menor: 500px;
    --gap_titulo_paragrafo: 2vh;
    --gap_cards: 5vw;
    --altura_card_projeto: 400px;
    --largura_card_projeto: 300px;
    --tamanho_medalha_projetos: 50px;
    --background_footer: #1B1B1B;
    --tamanho_footer: 400px;
    --tamanho_logo_minimal: 200px
}
section{
    scroll-snap-align: start;
}
.sessao{
    width: 80vw;
}
/* ---------------------- */



/* NAV BAR */

.container{
    font-family:var (--familia_fonte_subtitulo);
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10vh;
    width: 100%;
    background-color: transparent;
    z-index: 99999;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
ul li .textoMenu{
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transform: scale(0);
    transition-delay: 0s;
    transition: 0.5s;
}
ul li:hover .textoMenu{
    transform: scale(1);
    transition-delay: 0.25;
}
/* -------------- */




/* PRIMEIRA PAGINA */
div.logoPrincipal{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), url(../imgs/foto_principal.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
}
div.conteudo-primeira_pagina{
    margin-top: 600px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
}
div.conteudo-primeira_pagina h1{
    font-family: var(--familia_fonte_alternativa);
    font-size: var(--tamanho_fonte_extra_grande);
    color: var(--cor_fonte_titulo);
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s 1s normal both;
}
div.botao_saiba_mais-primeira_pagina{
    margin-top: 10px;
    width: 220px;
    height: 60px;
    background-color: var(--branco);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: filter 0.5s;
    animation: slide 4s;
    overflow: hidden;
}
div.botao_saiba_mais-primeira_pagina svg{
    width: 30px;
    height: 30px;
    fill: var(--preto);
    animation: pulse 1.5s  4s infinite;
}
div.botao_saiba_mais-primeira_pagina p{
    font-family: var(--familia_fonte_alternativa);
    font-size: var(--tamanho_fonte_botao);
    color: var(--preto);
    font-weight: bolder;
}

div.botao_saiba_mais-primeira_pagina:hover{
    filter: invert(100%);
}

/* --------------------------- */






/* SEGUNDA PAGINA */
section.segunda_pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.container-segunda_pagina{
    margin-top: var(--margem_divisao_paginas);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
div.containerEsquerdo{
    display: flex;
    flex-direction: column;
}
div.containerSignificado{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
div.containerSignificado h1{
    font-family: var(--familia_fonte_titulo);
    font-size: var(--tamanho_fonte_titulo);
    color: var(--cor_fonte_titulo);
}
div.containerSignificado span{
    font-family: var(--familia_fonte_subtitulo);
    font-size: var(--tamanho_fonte_subtitulo);
    color: var(--cor_fonte_subtitulo);
}
div.containerDireito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}
div.descricaoSobreNos{
    width: var(--tamanho_paragrafo_maior);
    display: flex;
    flex-direction: column;
    gap: var(--gap_titulo_paragrafo);
    margin-top: 50px;
}
div.descricaoSobreNos p{
    font-family: var(--familia_fonte_subtitulo);
    font-size: var(--tamanho_fonte_subtitulo);
    color: var(--cor_fonte_subtitulo);
    text-align: justify;
}
div.containerSvg{
    transition: transform .8s ease;
}
div.containerSvg svg{
    width: 500px;
    height: 400px;
}

/* --------------------------- */



/* TERCEIRA PÁGINA */
section.terceira_pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.container-terceira_pagina{
    margin-top: var(--margem_divisao_paginas);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
div.container-terceira_pagina div.projetosEsquerdo{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: var(--gap_cards);
}
div.container-card div.card_projeto{
    width: var(--largura_card_projeto);
    height: var(--altura_card_projeto);
    border-radius: 15px;
    display: flex;
    justify-content: end;
    align-items: start;
    cursor: pointer;
}
div.container-card svg{
    width: var(--tamanho_medalha_projetos);
    position: relative;
    left: 25px;
    bottom: 25px;
    cursor: pointer;
    transition: transform .8s ease;
}
div.projetosEsquerdo #card-curumin{
    background-image: url('../imgs/bannerCurumim.png');
    background-size: cover;
    background-position: center;
}
div.projetosEsquerdo #card-faca_barulho{
    background-image: url('../imgs/bannerFacaBarulho.png');
    background-size: cover;
    background-position: center;
}
div.container-terceira_pagina div.projetosDireito{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--gap_titulo_paragrafo);
}
div.projetosDireito h1{
    font-family: var(--familia_fonte_titulo);
    font-size: var(--tamanho_fonte_titulo);
    color: var(--cor_fonte_titulo);
}
div.projetosDireito p{
    font-family: var(--familia_fonte_subtitulo);
    font-size: var(--tamanho_fonte_subtitulo);
    color: var(--cor_fonte_subtitulo);
    width: var(--tamanho_paragrafo_menor);
    text-align: justify;
}
div.projetosDireito p a{
    color: var(--branco);
    text-decoration: underline;
    
}
/* ------------------------- */




/* FOOTER */
footer{
    margin-top: var(--margem_divisao_paginas);
    width: 100%;
    background-color: var(--background_footer);
    height: var(--tamanho_footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.container-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 250px;
}
div.menu-footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
div.menu-footer svg{
    width: var(--tamanho_logo_minimal);
    cursor: pointer;
}
div.menu-paginas{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
div.menu-paginas p{
    font-family: var(--familia_fonte_subtitulo);
    font-size: var(--tamanho_fonte_subtitulo);
    color: var(--cor_fonte_subtitulo);
    cursor: pointer;
}
div.menu-redes{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
div.menu-redes svg{
    width: 40px;
    transition: fill .8s;
    fill: #161616;
    cursor: pointer;
}
div.container-footer div.reta-footer{
    width: 50%;
    height: .8px;
    background-color: rgba(0, 0, 0, 0.253);
}
div.container-footer > p{
    font-family: var(--familia_fonte_subtitulo);
    font-size: var(--tamanho_fonte_subtitulo);
    color: #333333;
}
svg.svg-youtube:hover{
    fill: var(--vermelho_arandu);
}
svg.svg-instagram:hover{
    fill: var(--amarelo_arandu);
}
svg.svg-linkedin:hover{
    fill: var(--azul_arandu);
}
svg.svg-email:hover{
    fill: var(--verde_arandu);
}



/* ------------------------- */



















/* BOTAO SETA PARA O TOPO */
.btn-topo {
    display: none;
    padding: 0 0 5px 0;
    position: fixed;
    text-align: center;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.btn-topo.show {
    display: block;
    opacity: 1;
}

/* ------------ */



/* STILO SCROLL BAR */
::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #353535;
    border-radius: 20px;
}
/* ---------- */



/* ANIMAÇÕES */
@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes changeColor {
    0% {
        fill: #DF4041; /* Cor original da seta */
    }
    25%{
        fill: #FACF32;
    }
    50% {
        fill: #346BC8; /* Cor intermediária (por exemplo, vermelho) */
    }
    75%{
        fill: #369448; /* Cor intermediária (por exemplo, vermelho) */

    }
    100% {
        fill: #DF4041; /* Cor original da seta */
    }
}
@keyframes typing{
    from {
        width: 0;
    }to{
        width: 100%;
    }
}
@keyframes slide{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}

.bolaVermelha:hover,.bolaAmarela:hover, .bolaAzul:hover, .bolaVerde:hover{
    transform: translateY(-10px);
    transition: transform .9s ease;
}

div.container-card svg:hover{
    transform: scale(1.3);
}

.init-hidden{
    opacity: 0;
    transition: opacity 1s linear;
}
.init-hidden-off{
    opacity: 1;
}
.wrap{
    white-space: normal !important;
}
/* -------------------------- */