@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #161616;
}

div.logoMinimalista{
    display: none; /* flex */
    justify-content: center;
    margin-top: 15px;
}
div.logoPrincipal{
    height: 900px;
    background-image: url(../imgs/logoPrincipal.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section.paginaSobreNos{
    background-color: #232323;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
h1.tituloSobreNos{
    margin-top: 2em;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 2.5em;
    letter-spacing: 3px;
}
div.descricaoSobreNos{
    width: 500px;
    margin-top: 1.5em;
}
p.descricaoSobreNos{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    text-align: center;
}
div.containerPilares{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
div.pilar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
div.pilar.esquerda{
    margin-right: 14vw;
}
h1.textoPilar{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
}
h1.textoPilar.vermelho{
    color: #DF4041;
}
h1.textoPilar.amarelo{
    color: #FACF32;
}
h1.textoPilar.azul{
    color: #346BC8;
}
h1.textoPilar.verde{
    color: #369448;
}
div.retaPilar{
    width: 3px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    
}
div.descricaoPilar{
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
div.descricaoPilar.topicos{
    display: flex;
    flex-direction: column;
}
div.descricaoPilar.texto{
    width: 28vw;
}


section.quemSomos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1.tituloQuemSomos{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 3em;
    letter-spacing: 3px;
    margin-bottom: 1.5em;
}

div.cardsQuemSomos{
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
div.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
div.imagemCards{
    width: 150px;
    height: 150px;
    background-image: url(../imgs/Personagem.png);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    box-shadow:
  0.5px 1.3px 22.2px rgba(0, 0, 0, 0.035),
  4px 10px 177px rgba(0, 0, 0, 0.07);
}
div.imagemCards.bordaVermelha{
    border: 1px solid #DF4041;
}
div.imagemCards.bordaAmarela{
    border: 1px solid #FACF32;
}
div.imagemCards.bordaAzul{
    border: 1px solid #346BC8;
}
div.imagemCards.bordaVerde{
    border: 1px solid #369448;
}
p.nomeCards{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
p.cargoCards{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 0.8em;
    text-align: center;
}
section.paginaProjetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;
}
h1.tituloProjetos{
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    margin-top: 3em;
    font-size: 2.5em;
}

.swiper {
    width: 25vw;
    height: 30vw;
    margin-top: 5em;
    margin-bottom: 5em;
    box-shadow:
  4.5px 2.5px 62.6px rgba(0, 0, 0, 0.03),
  36px 20px 500px rgba(0, 0, 0, 0.06)
;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

section.footer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background-image: url(../imgs/rodape.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: bottom;

  }
  h1.tituloContatos{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    font-size: 2.5em;
    
  }

  div.rede{
    width: 50px;
    margin-bottom: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  svg.vetorRede{
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: .5;
    box-shadow:
  4.5px 2.5px 62.6px rgba(0, 0, 0, 0.03),
  36px 20px 500px rgba(0, 0, 0, 0.06)
;
  }
  p.nomeRede{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    opacity: .5;
  }
  div.rede > a{
    text-decoration: none;
  }
  svg.vetorRede:hover{
    border: .3px solid rgb(114, 114, 114);
    border-radius: 100%;
  }
  div.redesSociais{
    display: flex;
    flex-direction: row;
    gap: 10vw;
  }





























@media (max-width: 750px){
    section.paginaLogo{
        height: 700px;
    }
    div.logoPrincipal{
        background-attachment: scroll;
        height: 500px;
        padding-top: 100px;
    }
    h1.tituloSobreNos{
        margin-top: 30vh;
    }
    div.cardsQuemSomos{
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }
    div.imagemCards{
        width: 25vw;
        height: 25vw
    }
    div.descricaoSobreNos{
        width: 300px;
    }
    .swiper-navBtn{
        display: none;
    }
    .swiper {
        width: 60vw;
        height: 70vw;
        
      }
    div.cardMidias{
        margin-left: 30px;
        width: 40vw;
        height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img.logoAranduFooter{
        width: 40vw;
        height: 12vw;
        margin-right: 30px;
        
    }
    div.rede{
        gap: 1vh;
    }
    

    div.containerPilares{
        display: none;
        /*display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);*/
    }
    div.pilar.esquerda{
    flex-direction: column;
    text-align: left;
    }
    div.pilar{
    flex-direction: column-reverse;
    text-align: justify;
    }
    div.retaPilar{
        display: none;
    }
    div.rede{
        margin-bottom: 2vh;
    }
    h1.tituloContatos{
        font-size: 1.5em;
    }
    
}

main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}
.section{
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;

}

::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #353535;
    border-radius: 20px;
}